<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/logo.jpg" class="d-block w-100" alt="Imagem 1">
      <div class="carousel-caption d-flex flex-column justify-content-center align-items-center">
        <h3>Consultoria Jurídica</h3>
        <p>Oferecemos consultoria especializada em diversas áreas do direito.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/logo2.jpg" class="d-block w-100" alt="Imagem 2">
      <div class="carousel-caption d-flex flex-column justify-content-center align-items-center">
        <h3>Defesa Trabalhista</h3>
        <p>Defendemos seus direitos em questões trabalhistas com eficácia.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/logo3.jpg" class="d-block w-100" alt="Imagem 3">
      <div class="carousel-caption d-flex flex-column justify-content-center align-items-center">
        <h3>Assessoria Empresarial</h3>
        <p>Atuamos na proteção legal para empresas de todos os portes.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
