/* header.component.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #9da9b4;
  color: #fff;
}

.logo img {
  max-height: 50px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffdd57;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links a {
  font-size: 1.5rem;
  margin-left: 20px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #007bff;
  /* Cor de hover */
}
